:root {
  --pink: salmon;
  --bg: #0a0a0a;
  --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
  font-size: 1.2rem;
  font-family: "Work Sans", sans-serif;
}

/*------------------------------------------------------------------
    LOADER 
-------------------------------------------------------------------*/

#preloader {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #000000;
  z-index: 11000;
  position: fixed;
  display: block;
}

.pulsa {
  height: 150px;
  width: 200px;
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.pulsa:after {
  content: "";
  display: block;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 200px 100px" enable-background="new 0 0 200px 100px" xml:space="preserve"><polyline fill="none" stroke-width="3px" stroke="white" points="2.4,58.7 70.8,58.7 76.1,46.2 81.1,58.7 89.9,58.7 93.8,66.5 102.8,22.7 110.6,78.7 115.3,58.7 126.4,58.7 134.4,54.7 142.4,58.7 197.8,58.7 "/></svg>')
    0 0 no-repeat;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-animation: 2s pulsa linear infinite;
  animation: 2s pulsa linear infinite;
  clip: rect(0, 0, 100px, 0);
}
.pulsa:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 2px;
  right: 2px;
  bottom: 0;
  top: 16px;
  margin: auto;
  height: 3px;
}

@-webkit-keyframes pulsa {
  0% {
    clip: rect(0, 0, 100px, 0);
    opacity: 0.4;
  }
  4% {
    clip: rect(0, 66.66667px, 100px, 0);
    opacity: 0.6;
  }
  15% {
    clip: rect(0, 133.33333px, 100px, 0);
    opacity: 0.8;
  }
  20% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 1;
  }

  80% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 0;
  }

  90% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 0;
  }

  100% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 0;
  }
}
@keyframes pulsa {
  0% {
    clip: rect(0, 0, 100px, 0);
  }
  4% {
    clip: rect(0, 66.66667px, 100px, 0);
  }
  15% {
    clip: rect(0, 133.33333px, 100px, 0);
  }
  20% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 1;
  }

  80% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    clip: rect(0, 300px, 100px, 0);
    opacity: 0;
  }
}

.pulsa {
  text-align: center;
}
.pulsa i {
  color: #ffffff;
  font-size: 38px;
}

/* <!-- end loader --> */

/* HERO START */
.hero {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("img/12412.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  z-index: 5;
  animation: myHerobg 3s ease 0s 1 normal both;
}

.hero h1,
.hero h4,
.hero p {
  text-shadow: var(--shadow);
}

.hero h4 {
  font-family: "Courier New", Courier, monospace;
  font-size: 3rem;
  font-weight: 800;
  text-shadow: 5px 5px 5px black;
  animation: mySlidetop 3s ease 0s 1 normal forwards;
}

.hero h1 {
  font-family: "Sacramento", cursive;
  font-size: 6rem;
  font-weight: 800;
  text-shadow: 5px 5px 5px black;
  padding-bottom: 6rem;
  animation: mySlidetop 3s ease 0.5s 1 normal forwards;
}

.hero p {
  font-size: 1.4rem;
  text-shadow: 5px 5px 5px black;
}

.hero a {
  font-size: 2rem;
  font-family: "Yellowtail", cursive;
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  border: 1px solid #000;
  box-shadow: 5px 17px 11px -2px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: 5px 17px 11px -2px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 5px 17px 11px -2px rgba(0, 0, 0, 0.72);
}

.hero a:hover {
  background-color: var(--pink);
  color: #fff;
  border: 1px solid #fff;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

.hero .card {
  background: rgba(255, 255, 255, 0);
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
}

.hero .card-header {
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  font-weight: 500;
}

.hero .card-body {
  font-family: "Times New Roman", Times, serif;
  color: #000000;
  font-size: 3rem;
  text-shadow: 1px 1px 2px rgb(255, 252, 252);
  text-align: center;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.4);
}

.hero .card-footer {
  font-size: 1rem;
  font-weight: 500;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

@keyframes myHerobg {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@keyframes mySlidetop {
  0% {
    opacity: 0;
    transform: translateY(250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes myFade {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  100% {
    opacity: 0;
    transform: scale(0.6);
  }
}

/* BATAS HERO */

.navbar {
  z-index: -9999;
}

.mynavbar {
  background-color: rgba(255, 255, 255, 0.3) !important;
  backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
  height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
  font-family: "Sacramento", cursive;
  font-size: 3.2rem;
  font-weight: bold;
}

.mynavbar .nav-link {
  text-transform: uppercase;
}

/* HOME START */

.home {
  background: url(img/home.png) center center/cover repeat fixed;
  background-blend-mode: lighten;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  margin-top: -5.5rem;
  padding-top: 6.5rem;
  padding-bottom: 6rem;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
}

.home h1 {
  color: #fff;
  font-family: "Yellowtail", cursive;
  font-size: 5rem;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.gifts h2,
.profil {
  color: var(--bg);
  font-family: "Yellowtail", cursive;
  font-size: 5rem;
  text-shadow: 1px 1px 5px white;
}

.home .wedding {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.home .wedding h2 {
  font-family: "Courier New", Courier, monospace;
  color: #fff;
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.home .wedding h3 {
  font-family: "Tangerine", cursive;
  color: #fff;
  font-size: 7.5rem;
  font-weight: 600;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

.home p {
  font-size: 1.1rem;
  color: #fff;
  font-weight: 600;
  padding: 1.8rem;
  text-shadow: 1px 1px 1px #000;
}

.home img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  mix-blend-mode: difference;
}

/* HOME END */

/*------------------------------------------------------------------
    About
-------------------------------------------------------------------*/

.about-box {
  background: url(img/bg5.png) center center/cover repeat fixed;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  padding: 70px 0px;
  position: relative;
}

.about-box p {
  font-size: 1.2rem;
}

.title-box {
  text-align: center;
  margin-bottom: 30px;
}

.title-box h1 {
  font-family: "Sacramento", cursive;
  font-size: 80px;
  color: #222222;
}
.title-box h2 {
  font-size: 80px;
  font-family: "Tangerine", cursive;
  color: #222222;
}
.title-box h2 span {
  color: #dd666c;
  text-decoration: underline;
}
.about-main-info h2 {
  font-size: 60px;
  font-weight: 400;
  font-family: "Tangerine", cursive;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
}
.about-main-info h2 span {
  color: #dd666c;
  text-decoration: underline;
}

/* BATAS INFO */

.info {
  background: url(img/bg5.png) center center/cover repeat fixed;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  color: rgb(1, 1, 1);
  padding-top: 10rem;
  padding-bottom: 4rem;
  top: 0;
  position: relative;
}

.info h2 {
  color: var(--bg);
  font-family: "Tangerine", cursive;
  font-size: 4rem;
  font-weight: 600;
  text-shadow: 1px 1px 1px white;
  min-width: fit-content;
  margin-top: -5rem;
}

.info .arab {
  font-size: 2.3rem;
}

.info h3 {
  font-size: 1.3rem;
}

.info .alamat {
  font-size: 1.1rem;
  text-align: center;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.info .description {
  font-size: 1rem;
  font-weight: 300;
}

.info .card-header {
  font-size: 3rem;
  font-family: "Tangerine", cursive;
  font-style: normal;
  color: #0a0a0a;
}

.info span,
.info i,
.info .card-header,
.info .card-footer {
  color: #0a0a0a;
  font-weight: 600;
}

.info .acara {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  font-weight: 500;
  margin-top: 30px;
  font-size: 1.4rem;
}

.info .acara img {
  animation: myRing1 2s ease 0s infinite normal forwards;
}

.info #akad {
  background-color: red;
}

.info .card-body {
  font-size: 1rem;
}

.info .card-footer {
  border-top: 1px solid #999;
  font-size: 0.9rem;
  font-weight: 300;
}

.info a:hover {
  background-color: var(--pink);
  color: white;
}

.lokasi .card {
  padding: 2rem;
  width: fit-content;
  height: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.lokasi .card-header {
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
}

.lokasi .card-body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  text-align: center;
}

.lokasi {
  margin-bottom: 1rem;
}

.bukapeta a {
  font-size: 1.5rem;
  font-family: "Times New Roman", Times, serif;
  color: #000;
  background-color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 0.7rem;
  border: 1px solid #000;
  box-shadow: 5px 17px 11px -2px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: 5px 17px 11px -2px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 5px 17px 11px -2px rgba(0, 0, 0, 0.72);
  animation: pulse 1s ease infinite;
  border-radius: 8px;
}

.bukapeta a:hover {
  background-color: var(--pink);
  color: #fff;
  border: 1px solid #fff;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  animation: step-end;
}

/* INFO ACARA END */

/* WEDDING GIFT START*/

.gift {
  background: url(img/bg5.png) center center/cover repeat fixed;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  color: rgb(1, 1, 1);
  padding-top: 10rem;
  padding-bottom: 4rem;
  top: 0;
  position: relative;
}

.gift h2 {
  color: var(--bg);
  font-family: "Tangerine", cursive;
  font-size: 4.5rem;
  font-weight: 600;
  text-shadow: 1px 1px 1px white;
  min-width: fit-content;
  margin-top: -5rem;
  padding-bottom: 1rem;
}

.gift .arab {
  font-size: 2.3rem;
}

.gift h3 {
  font-size: 1rem;
  padding-bottom: 2rem;
}

.gift .alamat {
  font-size: 1.1rem;
  text-align: center;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.gift .description {
  font-size: 1rem;
  font-weight: 300;
}

.gift .card-header {
  font-size: 3rem;
  font-family: "Tangerine", cursive;
  font-style: normal;
  color: #0a0a0a;
}

.gift .acara {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  font-weight: 500;
  margin-top: 30px;
  font-size: 1.4rem;
}

.gift .card-body {
  font-size: 1rem;
}

.gift .card-footer {
  border-top: 1px solid #999;
  font-size: 0.9rem;
  font-weight: 300;
}

.rekening .card {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.656);
  width: fit-content;
  height: fit-content;
  margin-right: auto;
  margin-left: auto;
  width: 400px;
}

.rekening .card-header {
  font-size: 2rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
}

.rekening button {
  background: transparent;
  float: right;
  animation: myRek 2s ease 0s infinite normal forwards;
}

.rekening button:hover {
  transform: scale(2);
  transition: transform 0.5s;
  animation: step-end;
}

.rekening #nomorhp,
#nomorek {
  margin-left: 2.2rem;
}

.rekening .card-body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  text-align: center;
}

.rekening {
  margin-bottom: 1rem;
  padding-bottom: 2rem;
}

.gifts span {
  text-transform: uppercase;
  color: #666;
  font-size: 0.9rem;
  letter-spacing: 1px;
  display: block;
  margin-bottom: 1rem;
}

.lokasi-rumah .card {
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.656);
  width: fit-content;
  height: fit-content;
  margin-right: auto;
  margin-left: auto;
}

.lokasi-rumah .card-header {
  font-size: 1.3rem;
  font-family: "Courier New", Courier, monospace;
  font-style: normal;
}

.lokasi-rumah .card-body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  text-align: center;
}

.lokasi-rumah {
  margin-bottom: 1rem;
}

/* GIFT END */

/* GALLERY START */

.gallery p {
  font-size: 1rem;
  font-weight: 300;
}

.gifts p {
  font-size: 1rem;
  font-weight: 500;
}

.gallery {
  background: url(img/bg5.png) center center/cover repeat fixed;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
}

.gallery #gal1 {
  width: 50%;
}

.gallery #gal2 {
  width: 50%;
}

.gallery h2 {
  background: url(img/bg5.png) center center/cover repeat fixed;
  background-color: #fff;
  color: var(--bg);
  font-family: "Yellowtail", cursive;
  font-size: 4rem;
  text-shadow: 1px 1px 5px white;
  margin-top: -2.5rem;
  margin-left: 20%;
  padding-bottom: 4rem;
}

.gallery h1 {
  overflow: hidden;
  text-align: center;
  color: var(--bg);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4rem;
  text-shadow: 2px 2px 5px white;
  margin-left: -20%;
}

.gallery #foto {
  width: 50%;
  align-items: center;
}

.gallery2 {
  background: url(img/bg5.png) center center/cover repeat fixed;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100%;
  padding-top: 7rem;
  padding-bottom: 10rem;
}

.gallery2 video {
  background-color: #000;
  width: 90%;
  height: auto;
  margin-bottom: 1rem;
}

.gallery2 #gal21 {
  width: 65%;
}

.gallery2 #gal22 {
  width: 35%;
}

.gallery2 #gal23 {
  width: 35%;
}

.gallery2 #gal24 {
  width: 65%;
}

.gallery2 #gal21 img {
  height: 100%;
}

.gallery2 #gal22 img {
  height: 100%;
}

.gallery2 #gal23 img {
  margin-bottom: 1rem;
}

.gallery2 #gal24 img {
  height: 100%;
}

/* END GALLERY */

.rsvp {
  padding-top: 6.5rem;
  background: url(img/bg5.png) center center/cover repeat fixed;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 6.5rem;
}

.rsvp h2 {
  text-align: center;
  color: #000000;
  font-family: "Yellowtail", cursive;
  font-size: 5rem;
  text-shadow: 1px 1px 5px var(--pink);
}

.rsvp p {
  font-size: 1.5rem;
  font-weight: 300;
  color: rgb(0, 0, 0);
  text-shadow: 1px 1px 5px var(--pink);
}

.rsvp #komen {
  text-align: center;
}

.rsvp form label {
  color: rgb(0, 0, 0);
}

.rsvp button {
  background-color: var(--pink);
  color: white;
  border: 1px solid var(--pink);
}

.rsvp button:hover {
  background-color: rgb(255, 255, 255);
  color: var(--pink);
  border: 1px solid white;
}

.rsvp #my-form {
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

#disqus_thread {
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.rsvp #info_kirim {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  padding: 2rem;
}

/* RSVP END */

/* THANKS START */

.thanks {
  background: url(img/thanks.png) center center/cover repeat fixed;
  background-color: rgba(255, 255, 255, 0);
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  margin-top: -2rem;
  padding-top: 6.5rem;
  padding-bottom: 6rem;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
}

.thanks h1 {
  color: #fff;
  font-family: "Yellowtail", cursive;
  font-size: 4rem;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.thanks .wedding {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.thanks .wedding h2 {
  font-family: "Courier New", Courier, monospace;
  color: #ffffff;
  font-size: 3rem;
  text-shadow: 1px 1px 5px #000000;
}

.thanks .wedding p {
  font-family: "Times New Roman", Times, serif;
  font-size: 2rem;
  color: #ffffff;
  text-shadow: 1px 1px 5px #000000;
}

.thanks .wedding h3 {
  font-family: "Tangerine", cursive;
  color: #ffffff;
  font-size: 8rem;
  font-weight: 800;
  text-shadow: 1px 1px 5px #000000;
}

.thanks img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  mix-blend-mode: difference;
}

/* HOME END */

footer {
  padding: 3rem;
  background-color: var(--pink);
  color: white;
}

footer a {
  color: var(--bg);
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

footer li {
  list-style: none;
  display: inline;
  margin: 0.5rem;
}

.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  cursor: pointer;
  color: white;
  opacity: 0.5;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}

/* ANIMATION START */

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

@keyframes myRing1 {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 50%;
  }

  10% {
    transform: rotate(8deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-10deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(10deg);
  }

  80% {
    transform: rotate(-8deg);
  }

  90% {
    transform: rotate(8deg);
  }
}

@keyframes ahover {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(6deg);
  }

  30% {
    transform: translateX(15px) rotate(-6deg);
  }

  45% {
    transform: translateX(-15px) rotate(3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(-2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(1.2deg);
  }
}

@keyframes ahoverbtn {
  0% {
    transform: scale3d(1, 1, 1);
  }

  30% {
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tpage {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

@keyframes btn {
  0%,
  100% {
    transform: translateY(0);
  }

  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }

  20%,
  40%,
  60% {
    transform: translateY(8px);
  }

  80% {
    transform: translateY(6.4px);
  }

  90% {
    transform: translateY(-6.4px);
  }
}

@keyframes tpanel {
  0% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1.5);
  }
}

@keyframes infobody {
  0%,
  100% {
    transform: rotate(0deg);
    transform-origin: 50% 100%;
  }

  10% {
    transform: rotate(2deg);
  }

  20%,
  40%,
  60% {
    transform: rotate(-4deg);
  }

  30%,
  50%,
  70% {
    transform: rotate(4deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  90% {
    transform: rotate(2deg);
  }
}

@keyframes rotating {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes borderstory {
  0% {
    background-position: 50% 0%;
  }

  100% {
    background-position: 50% 100%;
  }
}

@keyframes myinvite {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-30px) rotate(-6deg);
  }

  30% {
    transform: translateX(15px) rotate(6deg);
  }

  45% {
    transform: translateX(-15px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(9px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-6px) rotate(-1.2deg);
  }
}

/* Media Query */
/* Extra large */
@media (max-width: 1200px) {
  .home .heart {
    transform: translateX(-50%) translateY(45px);
  }
}

/* laptop */
@media (max-width: 992px) {
  html {
    font-size: 75%;
  }

  .simply-countdown > .simply-section {
    padding: 45px;
    animation: pulse 1s ease infinite;
  }

  .home .heart {
    display: none;
  }
}

/* tablet */
@media (max-width: 768px) {
  html {
    font-size: 65%;
  }

  .hero a {
    min-width: fit-content;
    font-size: 1rem;
    box-shadow: none;
  }

  .sticky-top {
    overflow: hidden;
  }

  .simply-countdown > .simply-section {
    padding: 45px;
    margin: 5px;
  }

  .mynavbar .nav-link {
    font-size: 2rem;
    text-align: center;
  }

  .timeline li .timeline-image {
    width: 140px;
    height: 140px;
  }

  /* mobile phone */
  @media (max-width: 576px) {
    html {
      font-size: 60%;
    }

    .info .iframe {
      width: 450px;
      height: 200px;
    }

    .simply-countdown > .simply-section {
      padding: 45px;
      margin: 3px;
    }
    .hero a {
      min-width: fit-content;
      font-size: 1rem;
      box-shadow: none;
    }

    .home img {
      border-radius: 50%;
      width: 100px;
      height: 100px;
      mix-blend-mode: difference;
    }
  }

  /* mobile or only mobile */
  @media (max-width: 767px) {
    .navbar-brand {
      margin-left: 15px;
    }
    .hero img {
      width: 30px;
      height: 30px;
    }
    .hero .btn {
      height: 50px;
      width: 200px;
      letter-spacing: 1px;
      font-size: 2.2rem;
      font-style: bold;
    }
    .top-header .navbar .navbar-collapse ul li a {
      padding: 5px 15px;
    }

    .lbox-details h1 {
      font-size: 24px;
    }
    .lbox-details h2 {
      font-size: 18px;
    }
    .lbox-details p strong {
      font-size: 20px;
    }
    .lbox-details a.btn {
      display: none;
    }
    .title-box h2 {
      font-size: 48px;
    }

    .title-box h1 {
      font-size: 44px;
    }

    .lokasi .card {
      margin-top: 3rem;
    }

    .about-main-info h2 {
      font-size: 44px;
    }
    .about-main-info h3 {
      font-size: 24px;
      font-weight: 400;
    }
    .about-img {
      margin-bottom: 30px;
    }

    .info .bukapeta a {
      font-size: 1.8rem;
    }

    .gallery-box ul li {
      width: 100%;
    }

    .gallery {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }

    .hero a {
      min-width: fit-content;
      font-size: 1rem;
      box-shadow: none;
    }

    .hero img {
      width: 40px;
      height: 30px;
    }

    .hero .tamu {
      padding-top: 25rem;
    }

    .hero h4 {
      font-size: 3.5rem;
    }

    .hero h1 {
      font-size: 5rem;
      margin-left: -5rem;
    }

    .hero .card-header {
      font-size: 2rem;
    }

    .hero .card-body {
      font-size: 3rem;
    }

    .hero .card-footer {
      font-size: 1.2rem;
      font-weight: 500;
    }

    .bukapeta a {
      box-shadow: none;
    }
  }
}
